include README.rst
include certidude/templates/*.sh
include certidude/templates/*.service
include certidude/templates/*.ovpn
include certidude/templates/*.conf
include certidude/templates/*.ini
include certidude/templates/mail/*.md
include certidude/static/js/*.js
include certidude/static/css/*.css
include certidude/static/fonts/*.woff2
include certidude/static/img/*.svg
include certidude/static/*.html
include certidude/static/robots.txt
include certidude/sql/*/*.sql
