include README.rst
include certidude/templates/*.sh
include certidude/templates/*.service
include certidude/templates/*.ovpn
include certidude/templates/*.conf
include certidude/templates/*.ini
include certidude/templates/mail/*.md
include certidude/templates/client/*.timer
include certidude/templates/client/*.service
include certidude/templates/server/*.service
include certidude/templates/server/*.conf
include certidude/static/js/*.js
include certidude/static/css/*.css
include certidude/static/fonts/*.woff2
include certidude/static/img/*.png
include certidude/static/views/*.html
include certidude/static/snippets/*.sh
include certidude/static/snippets/*.yml
include certidude/static/snippets/*.mobileconfig
include certidude/static/snippets/*.conf
include certidude/static/snippets/*.ps1
include certidude/static/*.html
include certidude/static/robots.txt
include certidude/sql/*/*.sql
include certidude/builder/overlay/usr/bin/certidude-*
include certidude/builder/overlay/etc/uci-defaults/*
include certidude/builder/overlay/etc/hotplug.d/iface/50-certidude
include certidude/builder/overlay/etc/profile
include certidude/builder/*.sh
