@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('../fonts/pt-sans.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url('../fonts/ubuntu-mono.woff2') format('woff2');
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Gentium Basic'), local('GentiumBasic'), url('../fonts/gentium-basic.woff2') format('woff2');
}

svg {
    position: relative;
    top: 0.5em;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#pending_requests .notify {
    display: none;
}

#pending_requests .notify:only-child {
    display: block;
}


button, .button, input[type='search'], input[type='text'] {
    border: 1pt solid #ccc;
    border-radius: 6px;
}

button, .button {
    color: #000;
    float: right;
    background-color: #eee;
    margin: 2px;
    padding: 6px 12px;
    background-position: 6px;
    box-sizing: border-box;
}

input[type='search'], input[type='text'] {
    padding: 4px 4px 4px 36px;
    background-position: 6px;
    width: 100%;
}

button:disabled, .button:disabled {
    color: #888;
}

.monospace {
    font-family: 'Ubuntu Mono', courier, monospace;
}

footer {
    display: block;
    text-align: center;
}

a {
    text-decoration: none;
    color: #44c;
}

html,body {
    margin: 0;
    padding: 0 0 1em 0;
}

body {
    background: #fff;
}

.comment {
    color: #aaf;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 2px;
}

h1, h2, th {
    font-family: 'Gentium';
}

h1 {
    text-align: center;
    font-size: 22pt;
}

h2 {
    font-size: 18pt;
}

h2 svg {
    position: relative;
    top: 16px;
}

p, td, footer, li, button, input, select {
    font-family: 'PT Sans Narrow';
    font-size: 14pt;
}

pre {
    overflow: auto;
    border: 1px solid #000;
    background: #444;
    color: #fff;
    font-size: 12pt;
    padding: 4px;
    border-radius: 6px;
    margin: 0 0;
}


.container {
    max-width: 960px;
    padding: 0 1em;
    margin: 0 auto;
}

#signed ul,
#requests ul,
#log ul {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

#signed li,
#requests li,
#log li {
    margin: 4px 0;
    padding: 4px 0;
    clear: both;
    border-top: 1px dashed #ccc;
}

#menu {
    background-color: #444;
}

#menu li {
    color: #fff;
    border: none;
    display: inline;
    margin: 1mm 5mm 1mm 0;
    line-height: 200%;
    cursor: pointer;
}

.icon{
    background-size: 24px;
    background-position: 8px 5px;
    padding-left: 36px;
    background-repeat: no-repeat;
    display: block;
    vertical-align: text-bottom;
    text-decoration: none;
}

#log_entries li span.icon {
    background-size: 24px;
    padding-left: 42px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.tags .tag {
    display: inline;
    background-size: 24px;
    background-position: 0 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 1em;
    line-height: 200%;
    cursor: pointer;
    white-space: nowrap;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: none;
   border: none;
   box-sizing: border-box;

}

.icon.tag { background-image: url("../img/iconmonstr-tag-3.svg"); }

.icon.critical { background-image: url("../img/iconmonstr-error-4.svg"); }
.icon.error { background-image: url("../img/iconmonstr-error-4.svg"); }
.icon.warning { background-image: url("../img/iconmonstr-warning-8.svg"); }
.icon.info { background-image: url("../img/iconmonstr-info-8.svg"); }

.icon.revoke { background-image: url("../img/iconmonstr-x-mark-8.svg"); }
.icon.download { background-image: url("../img/iconmonstr-download-12.svg"); }
.icon.sign { background-image: url("../img/iconmonstr-pen-14.svg"); }
.icon.search { background-image: url("../img/iconmonstr-magnifier-4.svg"); }

.icon.phone { background-image: url("../img/iconmonstr-mobile-phone-7.svg"); }
.icon.location { background-image: url("../img/iconmonstr-compass-7.svg"); }
.icon.room { background-image: url("../img/iconmonstr-home-7.svg"); }
.icon.serial { background-image: url("../img/iconmonstr-barcode-4.svg"); }

.icon.wireless { background-image: url("../img/iconmonstr-wireless-6.svg"); }
.icon.password { background-image: url("../img/iconmonstr-lock-3.svg"); }

.icon.upload { background-image: url("../img/iconmonstr-upload-17.svg"); }

/* Make sure this is the last one */
.icon.busy{background-image:url("https://software.opensuse.org/assets/ajax-loader-ea46060b6c9f42822a3d58d075c83ea2.gif");}
