[Unit]
Description=Certidude server
After=network.target

[Service]
Environment=PYTHON_EGG_CACHE=/tmp/.cache
PIDFile=/run/certidude/server.pid
ExecStop=/bin/kill -s TERM $MAINPID
ExecStart={{ certidude_path }} serve

[Install]
WantedBy=multi-user.target

