[Unit]
Description=Cache OCSP responses for nginx OCSP stapling
Requires=nginx.service

[Service]
Type=oneshot
ExecStart=-/usr/bin/curl --cert-status https://{{ session.authority.hostname }}:8443/ --cacert /etc/certidude/authority/{{ session.authority.hostname }}/ca_cert.pem
