<p>
<div id="certificate-{{ certificate.common_name | replace('@', '--') | replace('.', '-') }}" class="card">
  <div class="card-header">
    {% if certificate.organizational_unit %}
      <i class="fa fa-folder" aria-hidden="true"></i>
    {{ certificate.organizational_unit }} /
    {% endif %}
    {% if certificate.extensions.extended_key_usage and "server_auth" in certificate.extensions.extended_key_usage %}
      <i class="fa fa-server"></i>
    {% else %}
      <i class="fa fa-laptop"></i>
    {% endif %}
    {{ certificate.common_name }}
  </div>
  <div class="card-block">
    <p>
      <span class="lease">
        {% if certificate.lease %}
          {% include "views/lease.html" %}
        {% endif %}
      </span>

      Signed
      <time class="timeago" datetime="{{ certificate.signed }}">Certificate was signed {{ certificate.signed }}</time>{% if certificate.signer %} by {{ certificate.signer }}{% endif %},
      expires
      <time class="timeago" datetime="{{ certificate.expires }}">Certificate expires {{ certificate.expires }}</time>.
    </p>
    <p>
    {% if session.authority.tagging %}
      <span class="tags" data-cn="{{ certificate.common_name }}">
        {% include "views/tags.html" %}
      </span>
    {% endif %}
      <span class="attributes" data-cn="{{ certificate.common_name }}">
        {% include "views/attributes.html" %}
      </span>
    </p>

    <div class="btn-group">
      <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#details-{{ certificate.sha256sum }}"><i class="fa fa-list"></i> Details</button>
      <button type="button" class="btn btn-danger"
       onclick="javascript:$(this).button('loading');$.ajax({url:'/api/signed/{{certificate.common_name}}/?sha256sum={{ certificate.sha256sum }}',type:'delete'});">
       <i class="fa fa-ban"></i> Revoke</button>
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"
          onclick="javascript:$(this).button('loading');$.ajax({url:'/api/signed/{{certificate.common_name}}/?sha256sum={{ certificate.sha256sum }}&reason=key_compromise',type:'delete'});">Revoke due to key compromise</a>
        <a class="dropdown-item" href="#"
          onclick="javascript:$(this).button('loading');$.ajax({url:'/api/signed/{{certificate.common_name}}/?sha256sum={{ certificate.sha256sum }}&reason=cessation_of_operation',type:'delete'});">Revoke due to cessation of operation</a>
        <a class="dropdown-item" href="#"
          onclick="javascript:$(this).button('loading');$.ajax({url:'/api/signed/{{certificate.common_name}}/?sha256sum={{ certificate.sha256sum }}&reason=privilege_withdrawn',type:'delete'});">Revoke due to withdrawn privilege</a>
      </div>
    </div>

    <div class="btn-group">
      {% if session.authority.tagging %}
        <button type="button" class="btn btn-default" onclick="onNewTagClicked(this);" data-key="other" data-cn="{{ certificate.common_name }}">
         <i class="fa fa-tag"></i> Tag</button>
        <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          {% for tag_category in session.authority.tagging %}
          <a class="dropdown-item" href="#" data-key="{{ tag_category.name }}" data-cn="{{ certificate.common_name }}"
            onclick="onNewTagClicked(this);">{{ tag_category.title }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="collapse" id="details-{{ certificate.sha256sum }}">
      <p>To fetch certificate:</p>

      <div class="bd-example">
        <pre><code class="language-sh" data-lang="sh">wget <a href="/api/signed/{{ certificate.common_name }}/">http://{{ window.location.hostname }}/api/signed/{{ certificate.common_name }}/</a>
curl http://{{ window.location.hostname }}/api/signed/{{ certificate.common_name }}/ \
  | openssl x509 -text -noout</code></pre>
      </div>

      {% if session.features.ocsp %}
      <p>To perform online certificate status request:</p>
      <pre><code class="language-bash" data-lang="bash">curl http://{{ window.location.hostname }}/api/certificate/ > session.pem
openssl ocsp -issuer session.pem -CAfile session.pem \
  -url http://{{ window.location.hostname }}/api/ocsp/ \
  -serial 0x{{ certificate.serial }}</code></pre>
      {% endif %}

      <p>To fetch script:</p>
      <pre><code class="language-bash" data-lang="bash">curl https://{{ window.location.hostname }}:8443/api/signed/{{ certificate.common_name }}/script/ \
    --cacert /etc/certidude/authority/{{ window.location.hostname }}/ca_cert.pem \
    --key /etc/certidude/authority/{{ window.location.hostname }}/host_key.pem \
    --cert /etc/certidude/authority/{{ window.location.hostname }}/host_cert.pem</pre></code>

      <div style="overflow: auto; max-width: 100%;">
        <table class="table" id="signed_certificates">
          <tbody>
            <tr><th>Common&nbsp;name</th><td>{{ certificate.common_name }}</td></tr>
            <tr><th>Organizational&nbsp;unit</th><td>{% if certificate.organizational_unit %}{{ certificate.organizational_unit }}{% else %}-{% endif %}</td></tr>
            <tr><th>Serial number</th><td style="word-wrap:break-word;">{{ certificate.serial | serial }}</td></tr>
            <tr><th>Signed</th><td>{{ certificate.signed | datetime  }}{% if certificate.signer %} by {{ certificate.signer }}{% endif %}</td></tr>
            <tr><th>Expires</th><td>{{ certificate.expires | datetime  }}</td></tr>
            {% if certificate.lease %}
            <tr><th>Lease</th><td><a href="http://{{ certificate.lease.inner_address }}">{{ certificate.lease.inner_address }}</a> at {{ certificate.lease.last_seen | datetime  }}
              from <a href="https://geoiptool.com/en/?ip={{ certificate.lease.outer_address }}" target="_blank">{{ certificate.lease.outer_address }}</a>
            </td></tr>
            {% endif %}

            <!--
            <tr><th>MD5</th><td>{{ certificate.md5sum }}</td></tr>
            <tr><th>SHA1</th><td>{{ certificate.sha1sum }}</td></tr>
            -->
            <tr><th>SHA256</th><td style="word-wrap:break-word;  overflow-wrap: break-word;  ">{{ certificate.sha256sum }}</td></tr>
            {% if certificate.extensions.extended_key_usage %}
            <tr><th>Extended key usage</th><td>{{ certificate.extensions.extended_key_usage | join(", ") }}</td></tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</p>
