<li id="certificate-{{ certificate.common_name | replace('@', '--') | replace('.', '-') }}" data-dn="CN={{ certificate.common_name }}" data-cn="{{ certificate.common_name }}" class="filterable">
    <a class="button icon download" href="/api/signed/{{certificate.common_name}}/">Fetch</a>
    <button class="icon revoke" onClick="javascript:$(this).addClass('busy');$.ajax({url:'/api/signed/{{certificate.common_name}}/',type:'delete'});">Revoke</button>

    <div class="monospace">
    {% if certificate.server %}
    {% include 'img/iconmonstr-server-1.svg' %}
    {% else %}
    {% include 'img/iconmonstr-certificate-15.svg' %}
    {% endif %}

    {{certificate.common_name}}
    </div>

    {% if certificate.email_address %}
    <div class="email">{% include 'img/iconmonstr-email-2.svg' %} {{ certificate.email_address }}</div>
    {% endif %}

    {% if certificate.given_name or certificate.surname %}
    <div class="person">{% include 'img/iconmonstr-user-5.svg' %} {{ certificate.given_name }} {{ certificate.surname }}</div>
    {% endif %}

    <div class="lifetime">
        {% include 'img/iconmonstr-calendar-6.svg' %}
        Signed <time class="timeago" datetime="{{ certificate.signed }}">Certificate was signed {{ certificate.signed }}</time>,
        expires <time class="timeago" datetime="{{ certificate.expires }}">Certificate expires {{ certificate.expires }}</time>
    </div>

    {#

    <div class="monospace">
    {% include 'img/iconmonstr-key-3.svg' %}
    <span title="SHA-256 of public key">
    {{ certificate.sha256sum }}
    </span>
    {{ certificate.key_length }}-bit
    {{ certificate.key_type }}
    </div>

    <div>
    {% include 'img/iconmonstr-flag-3.svg' %}
    {{certificate.key_usage}}
    </div>

    #}

    {% if session.features.tagging %}
    <div class="tags">
        <span data-cn="{{ certificate.common_name }}">
            {% include 'views/tags.html' %}
        </span>
        <select class="icon tag" data-cn="{{ certificate.common_name }}" onChange="onNewTagClicked(event);">
            <option value="">Add tag...</option>
                {% include 'views/tagtypes.html' %}
        </select>
    </div>
    {% endif %}

    <div class="status">
    {% include 'views/status.html' %}
    </div>
</li>
